svg {
    z-index: 1;
    width: 50vw;
    max-width: 40rem;
    height: auto;
  }
  
  
  .sparkles path {
    transform-origin: 50% 50%;
    transform-box: fill-box;
    animation: sparkle var(--duration) var(--delay) infinite ease-in-out;
  }
  
  @keyframes sparkle {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    70% {
      transform: scale(-1, 0);
    }
    80% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }